@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* customize input */
input {
    padding: 10px 20px !important;
    height: 40px !important;
}

input:focus {
    border-color: black !important;
    box-shadow: 0 0 0 0.1rem black !important;
    background-color: transparent !important;
}

button {
    all: initial;
    cursor: pointer;
}

span {
    font-family: "Poppins" !important;
}
